.BottomSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 95px;
  height: 900px;
  width: 90%;
}

.div-20 {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.div-40 {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
